<ul class="catalog-header__list">
  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Игровая мебель</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Наборы мебели</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Кровати</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Диваны и кресла</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Книжные шкафы и полки</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Столы</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Шкафы и серванты</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Комоды и тумбы</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Гардеробные шкафы</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Стулья</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Садовая мебель</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Детская мебель</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Кресла и кушетки</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Мебель для кафе</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Мебель для новорожденных</a>
  </li>

  <li class="catalog-header__item">
    <a href="#" class="catalog-header__link">Барная мебель</a>
  </li>
</ul>
