@import 'src/styles/variables/variables';

.user {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__sign-out {
    font-size: 1.2rem;
    text-decoration: underline;
    background-color: transparent;
    transition: $default-transition;

    &:hover {
      color: $blue-color;
    }
  }
}