@import 'src/styles/variables/variables';

.menu-header {
  &__list {
    display: flex;
  }

  &__item {
    padding: 10px 15px;
  }

  &__link {
    position: relative;
    display: block;
    font-weight: 700;
    white-space: nowrap;
    color: $text-color-secondary;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 0;
      height: 1px;
      background-color: $black-color;
      transition: $default-transition;
    }

    &:hover {
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
}
